{% extends "base.html" %}

{% block title %}
Student Signup
{% endblock %}

{% block content %}
<form action="#" method='POST'>
    <table style=>
        <tr>
            <td>
                <font size="5" color="#000000"> Name:</font>
            </td>
            <td>
                <input type="text" name="Name" placeholder="Your Name" size="47">
            </td>
        </tr>
        <tr>
            <td>
                <font size="5" color="#000000"> USN:</font>
            </td>
            <td>
                <input type="text" name="USN" placeholder="Enter USN" size="47">
            </td>
        </tr>
        <tr>
            <td>
                <font size="5" color="#000000"> Email:</font>
            </td>
            <td>
                <input type="email" name="Email" size="47">
            </td>
        </tr>
        <tr>
            <td class="select">
                <font size="5" color="#000000">Section:</font>
            </td>
            <TD>
                <select name='Section'>
                    {% for section in sections %}
                    <option value="{{ section[0] }}">{{section[1] }} -- {{ section[2] }}</option>
                    {% endfor %}
                </select>
            </TD>

        </tr>
        <tr>
            <td class="select">
                <font size="5" color="#000000">Branch:</font>
            </td>
            <TD>
                <select name='Branch'>
                    {% for department in departments %}
                    <option value="{{ department[0] }}">{{ department[1] }}</option>
                    {% endfor %}
                </select>
            </TD>

        </tr>
        <tr>
            <td>
                <font size="5" color="#000000"> Password:</font>
            </td>
            <td>
                <input type="Password" name="Password" size="47" placeholder="Enter Password">
            </td>
        </tr>
        <tr>
            <td>
                <font size="5" color="#000000"> Confirm Password:</font>
            </td>
            <td>
                <input type="Password" name="Confirm Password" size="47" placeholder="Confirm Password">
            </td>
        </tr>

    </table>
    <tr>
        <td>
            <input type="submit" value="submit" style="font-size: larger; border-radius: 8px;" />
        </td>
    </tr>
</form>
{% endblock %}